[user]
	email = l.levickas@protonmail.com
	name = Lukas Levickas
[alias]
	today = log --reverse --author 'Lukas Levickas' --since='00:00' --no-merges --pretty='format:* [%h] %s.'
	aw = log --graph --all --color --stat --oneline --pretty=format:'%C(red)%h%C(yellow)% d %C(green)% s%C(blue)% aN, %aE%C(magenta)% ci%+b'
	sta = status
	s = status
	c = commit
	tw = "! git rev-parse --abbrev-ref HEAD | wl-copy && $HOME/.scripts/context-runner.sh"
	mergetest = "! git pull --all && git merge --no-commit --no-ff \"$1\" && git merge --abort"
[credential]
	helper = cache --timeout=3600
[core]
	filemode = false
	hooksPath = /home/lukas/dev/hook-ci/hooks
[difftool]
	prompt = false
[diff]
	tool = vimdiff
