#define backgr #1d1f21
#define foregr #c5c8c6
#define base00 #282a2e
#define base01 #373b41
#define base02 #a54242
#define base03 #cc6666
#define base04 #8c9440
#define base05 #b5bd68
#define base06 #de935f
#define base07 #f0c674
#define base08 #5f819d
#define base09 #81a2be
#define base0a #85678f
#define base0b #b294bb
#define base0c #5e8d87
#define base0d #8abeb7
#define base0e #707880
#define base0f #c5c8c6
#define leFont terminus

*.foreground:   foregr
*.background:   backgr
*.cursorcolor:  base0d
*.color0:       base00
*.color1:       base01
*.color2:       base02
*.color3:       base03
*.color4:       base04
*.color5:       base05
*.color6:       base06
*.color7:       base07
*.color8:       base08
*.color9:       base09
*.color10:      base0a
*.color11:      base0b
*.color12:      base0c
*.color13:      base0d
*.color14:      base0e
*.color15:      base0f

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.font-size.step: 1
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.internalBorder: 10
URxvt.externalBorder: 0
urxvt --help 2>&1| sed -n '/:  /s/^ */URxvt*/gp' >> ~/.Xresources
URxvt.perl-ext-common: default,font-size,urxvt-colors,config-reload
urxvt.font: -*-terminus-medium-r-*-*-20-*-*-*-*-*-iso10646-*
urxvt.boldFont: -*-terminus-bold-r-*-*-20-*-*-*-*-*-iso10646-*
urxvt.italicFont: -*-roboto mono-medium-i-*-*-20-*-*-*-*-*-iso10646-*
urxvt.boldItalicFont: -*-roboto mono-bold-i-*-*-20-*-*-*-*-*-iso10646-*
urxvt.depth: 32
urxvt.scrollBar: false
urxvt.background: [95]backgr

! State:           'bg'    'fg'    'bgalt' 'hlbg'  'hlfg'
rofi.color-normal: base00, base0e, base00, base00, base0f
rofi.color-urgent: base00, base0f, base00, base00, base0e
rofi.color-active: base00, base0e, base00, base00, base0f
rofi.color-window: base00, base0f
rofi.eh: 1
rofi.lines: 20
rofi.bw: 4
rofi.opacity: 95
rofi.padding: 16
rofi.scroll-method: 1
rofi.fullscreen: false
rofi.width: 400
rofi.position: 0
rofi.separator-style: none
rofi.font: leFont 13
rofi.hide-scrollbar: true
