assign [app_id="qutebrowser"] workspace $ws1
assign [class="Firefox"] workspace $ws1
assign [class="vim"] workspace $ws2
assign [class="Skype"] workspace $ws3
assign [class="Slack"] workspace $ws3
assign [class="qTox"] workspace $ws3
assign [class="ncmpcpp"] workspace $ws4
assign [class="spotify"] workspace $ws4
assign [class="Steam"] workspace $ws5
assign [class="discord"] workspace $ws5
assign [class="dota2"] workspace $ws6
assign [class="FTL"] workspace $ws6
assign [class="csgo_linux64"] workspace $ws6
assign [class="hl2_linux"] workspace $ws6
assign [class="ranger"] workspace $ws8
assign [class="Mail"] workspace $ws9
assign [class="Thunderbird"] workspace $ws9
assign [class="Gimp"] workspace $ws10

for_window [app_id="galculator"] floating enable, sticky enable
for_window [app_id="mpv"] sticky enable
for_window [class="Android Emulator"] floating enable
for_window [class='*:libreofficedev'] floating disabled
for_window [class='*:soffice'] floating disabled
for_window [title="Sticky Term"] floating enable, sticky enable, resize set 50ppt 50ppt
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [app_id="qutebrowser"] inhibit_idle fullscreen
